<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/masterlayout.html}">
<head>

</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <div class="row mt-4">
            <div class="col-3">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        GET PRODUCT

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        UPDATE PRODUCT

                    </li>

                </ul>
            </div>
            <div class="col-9">
                <h3> My Application</h3>
                <p>An application for Target Assessment</p>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
